-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cardapio_digital
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `email` varchar(160) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Administrador','nogassis777@gmail.com','$2y$10$70yl8jdNR5CX7R9baaZWhuC151rNnPWpDCqKRzRc05OKCKv8PO6VG','2026-03-24 20:01:33');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `slug` varchar(140) NOT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `ativa` tinyint(1) NOT NULL DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (1,'Vestidos','vestidos',2,1,'2026-03-24 20:01:33'),(7,'Blusinhas','blusinhas',1,1,'2026-03-28 19:05:16'),(8,'Macacões','macac-oes',3,1,'2026-04-02 18:12:08'),(9,'Inverno','inverno',4,1,'2026-04-02 18:12:29'),(10,'Saias','saias',5,1,'2026-04-02 18:12:40'),(11,'Shorts','shorts',6,1,'2026-04-02 18:12:48'),(12,'Tops','tops',8,1,'2026-04-02 18:12:59'),(13,'Calças','calcas',7,1,'2026-04-02 18:13:12'),(14,'Moda Praia','moda-praia',9,1,'2026-04-02 18:13:48');
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_email_alteracoes`
--

DROP TABLE IF EXISTS `cliente_email_alteracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_email_alteracoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `novo_email` varchar(160) NOT NULL,
  `codigo_hash` char(64) NOT NULL,
  `expira_em` datetime NOT NULL,
  `usado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_cliente_email_alteracoes_cliente` (`cliente_id`),
  CONSTRAINT `fk_cliente_email_alteracoes_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_email_alteracoes`
--

LOCK TABLES `cliente_email_alteracoes` WRITE;
/*!40000 ALTER TABLE `cliente_email_alteracoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente_email_alteracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_email_verificacoes`
--

DROP TABLE IF EXISTS `cliente_email_verificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_email_verificacoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `codigo_hash` char(64) NOT NULL,
  `token_hash` char(64) NOT NULL,
  `expira_em` datetime NOT NULL,
  `usado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_cliente_email_verificacoes_cliente` (`cliente_id`),
  CONSTRAINT `fk_cliente_email_verificacoes_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_email_verificacoes`
--

LOCK TABLES `cliente_email_verificacoes` WRITE;
/*!40000 ALTER TABLE `cliente_email_verificacoes` DISABLE KEYS */;
INSERT INTO `cliente_email_verificacoes` VALUES (10,19,'a6a9aa587d07b54664a49793202061d4e253a56be26b50c99f63c24905415807','3df0f6761af9504e364a5b72dfcdd639253fc316fd652a9ac7e7e5e92e1e0183','2026-03-28 16:33:42','2026-03-28 16:04:00','2026-03-28 19:03:42');
/*!40000 ALTER TABLE `cliente_email_verificacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_enderecos`
--

DROP TABLE IF EXISTS `cliente_enderecos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_enderecos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `apelido` varchar(80) NOT NULL DEFAULT 'Endereco',
  `cep` char(8) NOT NULL,
  `rua` varchar(160) NOT NULL,
  `bairro` varchar(120) NOT NULL,
  `numero` varchar(20) NOT NULL,
  `complemento` varchar(120) DEFAULT NULL,
  `cidade` varchar(120) NOT NULL,
  `uf` char(2) NOT NULL,
  `principal` tinyint(1) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_cliente_enderecos_cliente` (`cliente_id`),
  CONSTRAINT `fk_cliente_enderecos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_enderecos`
--

LOCK TABLES `cliente_enderecos` WRITE;
/*!40000 ALTER TABLE `cliente_enderecos` DISABLE KEYS */;
INSERT INTO `cliente_enderecos` VALUES (6,19,'Principal','81850525','Jardinete Jornalista José Blansky Filho','Alto Boqueirão','32','','Curitiba','PR',1,'2026-03-28 19:03:42');
/*!40000 ALTER TABLE `cliente_enderecos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_favoritos`
--

DROP TABLE IF EXISTS `cliente_favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_favoritos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `produto_id` int(10) unsigned NOT NULL,
  `criado_em` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_cliente_favoritos_cliente_produto` (`cliente_id`,`produto_id`),
  KEY `fk_cliente_favoritos_produto` (`produto_id`),
  CONSTRAINT `fk_cliente_favoritos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_cliente_favoritos_produto` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_favoritos`
--

LOCK TABLES `cliente_favoritos` WRITE;
/*!40000 ALTER TABLE `cliente_favoritos` DISABLE KEYS */;
INSERT INTO `cliente_favoritos` VALUES (1,19,17,'2026-04-02 17:09:58'),(2,19,25,'2026-04-02 18:00:12'),(3,19,18,'2026-04-02 18:10:11');
/*!40000 ALTER TABLE `cliente_favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_notificacoes`
--

DROP TABLE IF EXISTS `cliente_notificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_notificacoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `tipo` varchar(32) NOT NULL DEFAULT 'geral',
  `titulo` varchar(140) NOT NULL,
  `mensagem` varchar(255) NOT NULL,
  `link_url` varchar(255) DEFAULT NULL,
  `payload_json` longtext DEFAULT NULL,
  `lida_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_cliente_notificacoes_cliente` (`cliente_id`),
  CONSTRAINT `fk_cliente_notificacoes_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_notificacoes`
--

LOCK TABLES `cliente_notificacoes` WRITE;
/*!40000 ALTER TABLE `cliente_notificacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente_notificacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_password_resets`
--

DROP TABLE IF EXISTS `cliente_password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_password_resets` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned NOT NULL,
  `codigo_hash` char(64) DEFAULT NULL,
  `token_hash` char(64) NOT NULL,
  `expira_em` datetime NOT NULL,
  `usado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_hash` (`token_hash`),
  KEY `fk_cliente_password_resets_cliente` (`cliente_id`),
  CONSTRAINT `fk_cliente_password_resets_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_password_resets`
--

LOCK TABLES `cliente_password_resets` WRITE;
/*!40000 ALTER TABLE `cliente_password_resets` DISABLE KEYS */;
INSERT INTO `cliente_password_resets` VALUES (6,19,'47166198b710c3708faaccea2b8630a766de84718a4c86dba44cd70741f6e40a','c6076ce09dc4d1687a82e51579b6ba45a8020e6b6537364b41c582c6487eb2a0','2026-04-02 22:49:52','2026-04-02 22:35:50','2026-04-03 01:34:52');
/*!40000 ALTER TABLE `cliente_password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(140) NOT NULL,
  `email` varchar(160) NOT NULL,
  `telefone` varchar(30) DEFAULT NULL,
  `cep` char(8) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `cpf` char(11) DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `email_verificado_em` datetime DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `uk_clientes_cpf` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (19,'Lucas Nogueira De Assis','nogassis77@gmail.com','24998592033','81850525','Jardinete Jornalista José Blansky Filho, Bairro Alto Boqueirão, Numero 32, Curitiba - PR','17609328766','1999-05-24','$2y$10$K3atycyx4CDxtAsB15yRzOD2rhMlt5sd7g4GM.PoHPCMeVlg1myt6','2026-03-28 16:04:00',1,'2026-03-28 19:03:42');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes`
--

DROP TABLE IF EXISTS `configuracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome_estabelecimento` varchar(160) NOT NULL,
  `descricao_loja` text DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `telefone_whatsapp` varchar(30) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `horario_funcionamento` varchar(255) DEFAULT NULL,
  `cor_primaria` varchar(20) NOT NULL DEFAULT '#4d137a',
  `cor_secundaria` varchar(20) NOT NULL DEFAULT '#7f56d9',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes`
--

LOCK TABLES `configuracoes` WRITE;
/*!40000 ALTER TABLE `configuracoes` DISABLE KEYS */;
INSERT INTO `configuracoes` VALUES (1,'MODA TROPICAL','Moda feminina com toque tropical, pecas leves e colecoes pensadas para destacar seu estilo.','logo.png','(24) 99859-2033','Rua das Flores, 123 - Centro','Seg a Sab, 10h as 22h','#D97A6C','#97B39B','2026-03-24 20:01:33');
/*!40000 ALTER TABLE `configuracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupons`
--

DROP TABLE IF EXISTS `cupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cupons` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(80) NOT NULL,
  `nome` varchar(140) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `tipo` varchar(32) NOT NULL DEFAULT 'percent',
  `escopo` varchar(32) NOT NULL DEFAULT 'order',
  `valor_desconto` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal_minimo` decimal(10,2) NOT NULL DEFAULT 0.00,
  `limite_resgates` int(10) unsigned DEFAULT NULL,
  `starts_at` datetime DEFAULT NULL,
  `ends_at` datetime DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `notificado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupons`
--

LOCK TABLES `cupons` WRITE;
/*!40000 ALTER TABLE `cupons` DISABLE KEYS */;
/*!40000 ALTER TABLE `cupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marcas`
--

DROP TABLE IF EXISTS `marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marcas` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `slug` varchar(140) NOT NULL,
  `imagem` varchar(255) DEFAULT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `ativa` tinyint(1) NOT NULL DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_historico`
--

DROP TABLE IF EXISTS `pedido_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido_historico` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `pedido_id` int(10) unsigned NOT NULL,
  `status` varchar(32) NOT NULL,
  `titulo` varchar(140) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `admin_id` int(10) unsigned DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_pedido_historico_pedido` (`pedido_id`),
  KEY `fk_pedido_historico_admin` (`admin_id`),
  CONSTRAINT `fk_pedido_historico_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pedido_historico_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_historico`
--

LOCK TABLES `pedido_historico` WRITE;
/*!40000 ALTER TABLE `pedido_historico` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_historico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_itens`
--

DROP TABLE IF EXISTS `pedido_itens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido_itens` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `pedido_id` int(10) unsigned NOT NULL,
  `produto_id` int(10) unsigned DEFAULT NULL,
  `produto_nome` varchar(180) NOT NULL,
  `categoria_nome` varchar(140) DEFAULT NULL,
  `marca_nome` varchar(140) DEFAULT NULL,
  `sabor` varchar(120) DEFAULT NULL,
  `quantidade` int(10) unsigned NOT NULL DEFAULT 1,
  `preco_unitario` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal_item` decimal(10,2) NOT NULL DEFAULT 0.00,
  `imagem` varchar(255) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_pedido_itens_pedido` (`pedido_id`),
  KEY `fk_pedido_itens_produto` (`produto_id`),
  CONSTRAINT `fk_pedido_itens_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pedido_itens_produto` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_itens`
--

LOCK TABLES `pedido_itens` WRITE;
/*!40000 ALTER TABLE `pedido_itens` DISABLE KEYS */;
INSERT INTO `pedido_itens` VALUES (20,23,NULL,'Jack Daniel\'s Old No. 7 Tennessee Whiskey 1L','Bebidas','Bebidas',NULL,1,150.00,150.00,'uploads/products/products-20260328160644-0418727e.jpg','2026-03-28 19:11:43'),(21,24,NULL,'Pod Descartável V-Nano - Ignite - Acai Grape - 50mg/mL','Pods Descartaveis','IGNITE','Jabuticaba',2,47.00,94.00,'uploads/products/products-20260327184933-8a3090b6.png','2026-03-28 19:16:56'),(22,25,17,'Bata de linho cor areia','Blusinhas','','42',1,120.00,120.00,'uploads/products/products-20260402151822-16dc307c.webp','2026-04-02 22:53:06');
/*!40000 ALTER TABLE `pedido_itens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` int(10) unsigned DEFAULT NULL,
  `codigo_rastreio` varchar(32) NOT NULL,
  `status` varchar(32) NOT NULL DEFAULT 'pending',
  `fulfillment_method` varchar(20) NOT NULL DEFAULT 'delivery',
  `payment_method` varchar(20) DEFAULT NULL,
  `payment_provider` varchar(32) DEFAULT NULL,
  `payment_status` varchar(32) NOT NULL DEFAULT 'none',
  `payment_external_order_id` varchar(80) DEFAULT NULL,
  `payment_external_charge_id` varchar(80) DEFAULT NULL,
  `payment_external_qr_id` varchar(80) DEFAULT NULL,
  `payment_pix_text` text DEFAULT NULL,
  `payment_pix_image_base64` longtext DEFAULT NULL,
  `payment_payload` longtext DEFAULT NULL,
  `payment_paid_at` datetime DEFAULT NULL,
  `payment_last_webhook_at` datetime DEFAULT NULL,
  `cupom_id` int(10) unsigned DEFAULT NULL,
  `cupom_codigo` varchar(80) DEFAULT NULL,
  `cupom_nome` varchar(140) DEFAULT NULL,
  `cupom_tipo` varchar(32) DEFAULT NULL,
  `cupom_desconto` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cupom_frete_desconto` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `taxa_entrega` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cash_change_for` decimal(10,2) DEFAULT NULL,
  `cash_change_due` decimal(10,2) DEFAULT NULL,
  `nome_cliente` varchar(140) NOT NULL,
  `email_cliente` varchar(160) DEFAULT NULL,
  `telefone_cliente` varchar(30) DEFAULT NULL,
  `cpf_cliente` char(11) DEFAULT NULL,
  `cep` char(8) DEFAULT NULL,
  `rua` varchar(160) DEFAULT NULL,
  `bairro` varchar(120) DEFAULT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `complemento` varchar(120) DEFAULT NULL,
  `cidade` varchar(120) DEFAULT NULL,
  `uf` char(2) DEFAULT NULL,
  `endereco_snapshot` varchar(255) NOT NULL,
  `estoque_devolvido_em` datetime DEFAULT NULL,
  `status_atualizado_em` datetime DEFAULT NULL,
  `ultimo_admin_id` int(10) unsigned DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo_rastreio` (`codigo_rastreio`),
  KEY `fk_pedidos_cliente` (`cliente_id`),
  KEY `fk_pedidos_admin` (`ultimo_admin_id`),
  KEY `fk_pedidos_cupom` (`cupom_id`),
  CONSTRAINT `fk_pedidos_admin` FOREIGN KEY (`ultimo_admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pedidos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pedidos_cupom` FOREIGN KEY (`cupom_id`) REFERENCES `cupons` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produtos`
--

DROP TABLE IF EXISTS `produtos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produtos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `categoria_id` int(10) unsigned NOT NULL,
  `marca_id` int(10) unsigned DEFAULT NULL,
  `nome` varchar(160) NOT NULL,
  `slug` varchar(180) NOT NULL,
  `descricao` text DEFAULT NULL,
  `preco` decimal(10,2) NOT NULL DEFAULT 0.00,
  `desconto_percentual` decimal(5,2) NOT NULL DEFAULT 0.00,
  `estoque` int(10) unsigned NOT NULL DEFAULT 0,
  `sabores` text DEFAULT NULL,
  `imagem` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `destaque` tinyint(1) NOT NULL DEFAULT 0,
  `promocao` tinyint(1) NOT NULL DEFAULT 0,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `fk_produtos_categoria` (`categoria_id`),
  KEY `fk_produtos_marca` (`marca_id`),
  CONSTRAINT `fk_produtos_categoria` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_produtos_marca` FOREIGN KEY (`marca_id`) REFERENCES `marcas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produtos`
--

LOCK TABLES `produtos` WRITE;
/*!40000 ALTER TABLE `produtos` DISABLE KEYS */;
/*!40000 ALTER TABLE `produtos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sabores`
--

DROP TABLE IF EXISTS `sabores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sabores` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `slug` varchar(140) NOT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sabores`
--

LOCK TABLES `sabores` WRITE;
/*!40000 ALTER TABLE `sabores` DISABLE KEYS */;
INSERT INTO `sabores` VALUES (7,'38','38',5,1,'2026-04-02 18:34:11'),(8,'40','40',6,1,'2026-04-02 18:34:11'),(9,'42','42',7,1,'2026-04-02 18:34:11'),(10,'44','44',8,1,'2026-04-02 20:29:35'),(11,'46','46',9,1,'2026-04-02 21:08:09');
/*!40000 ALTER TABLE `sabores` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-03 12:17:50
